.dark {
  background: url(/images/home/darkgalaxy.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.light {
  background: url(/images/home/AdobeStock_121270629.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
